body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E9ECEF;
}

.navbar-content > * {
    width: auto;
    height: 90px;
    font-size: 40px;
    gap: 10px; 
    font-weight: 600;
    color: #E9ECEF;
}

.navbar-nav > a {
    color: #E9ECEF; 
}

.article{
    margin-top: 90px;
}

.hello{
    font-size: 90px;
    color: brown;
}

.list-grup-item > li{
    background-color: rgb(255, 0, 0);
}

.article > p {
    font-size: 20px;
}

.article > h4 {
    color: brown;
}

.navbar-nav > a:hover{
    font-size: 50px;
    color: rgb(162, 42, 42);
    transition: 0.7s ease-in;
}

.article > .btn{
    height: 70px;
    width: 200px;
    font-size: 30px;
}

.article > .info {
    color: bisque;
}

